.box{
    background-color: #92CED3;
}
.bg{
    width:100%; 
    height:80%;}
.font{
    background-color: #92CED3;
    color:black;
    
}
.flex-container{
    display: flex;
    flex-direction: row;
}
.img{
    height:50px ;
    width: 50px;
}
.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}